apiclient
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
exceptiongroup
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
h11
httplib2
idna
numpy
oauth2client
oauthlib
outcome
pandas
pip
proto-plus
protobuf
pyasn1
pyasn1_modules
pyparsing
PySocks
python-dateutil
pytz
requests
requests-oauthlib
rsa
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
wsproto